{{#each focusCharts as |chart|}}
    <div class="chart">
        <div class="header">{{chart.title}}</div>
        {{chart-bar
            data=chart.series
            yMin=chart.yMin
            yMax=chart.yMax
            yTitle=chart.yTitle
        }}
    </div>
{{/each}}


<div class="chart">
    <div class="header">Juggling Tasks</div>
    {{chart-bar
        data=juggleData
        categories=categories
        yAxis=timeAxis
        legendEnabled=true
    }}
</div>