<div class="chart">
    <div class="header">Focus</div>
    {{chart-bar
        data=focusData
        categories=categories
        yAxis=focusYAxis
        legendEnabled=true
    }}
</div>

<div class="chart">
    <div class="header">Juggling Tasks</div>
    {{chart-bar
        data=juggleData
        categories=categories
        yAxis=juggleYAxis
        legendEnabled=true
    }}
</div>