<div class="chart">
    <div class="header">UV Absorption</div>
    {{chart-bar
        data=model.data
        xTitle="Object at 1 minute of UV exposure"
        yTitle="Brightness / UV Absorption"
        plotBands=model.plotBands
        yMin=0
        yMax=10
    }}
</div>